/* Base styles for the search bar */
.searchbar {
  width: 100%; /* Make sure the search bar takes full width of its container */
  max-width: 500px; /* Set the maximum width to match with search results list */
  height: 2.5rem;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 8px #ddd;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 0 10px; /* Add padding for better alignment */
  margin: 0 auto; /* Center align the search bar */
  position: relative; /* Required for positioning the clear button */
}

/* Input field within the search bar */
.input {
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 1.25rem;
  width: 100%;
  margin: 0;
}

/* Remove outline on focus */
.input:focus {
  outline: none;
}

/* Change color on hover */
.clearButton:hover {
  color: #333; /* Change color on hover if desired */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .searchbar {
    max-width: 90%; /* Adjust width for tablets */
    margin: 10px auto; /* Center align with margin */
  }
}

@media (max-width: 480px) {
  .searchbar {
    max-width: 100%; /* Full width for small screens */
    padding: 0 5px; /* Adjust padding for smaller screens */
  }

  .input {
    font-size: 1rem; /* Adjust font size for smaller screens */
  }

  .clearButton {
    font-size: 1rem; /* Adjust font size of the button for smaller screens */
  }
}
